DJANGO_SECRET_KEY=colocar-clave-secreta-local
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MYSQL_DATABASE=sistema_vuelos_reservas
MYSQL_USER=vuelos_user
MYSQL_PASSWORD=colocar-contrasena-local
MYSQL_ROOT_PASSWORD=colocar-contrasena-root-local
MYSQL_HOST=db
MYSQL_PORT=3306

# Solo para ejecutar: python manage.py seed_base
SEED_ADMIN_PASSWORD=colocar-contrasena-demo-local