# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
staticfiles/
media/

# Entorno virtual
.venv/
venv/
env/

# Variables privadas
.env

# Evidencias locales
Docs/Evidencias_Integrante_1/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales
*.tmp
*.swp
~$*.docx